@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  --animate-marquee: marquee 20s linear infinite;
}

@layer base {
  :root {
    --background: #fafafa;
    /* Zinc 50 - Off-White Premium */
    --foreground: #09090b;
    /* Zinc 950 */
    --card: #ffffff;
    --card-foreground: #09090b;
    --popover: #ffffff;
    --popover-foreground: #09090b;
    --primary: #18181b;
    /* Zinc 900 */
    --primary-foreground: #fafafa;
    --secondary: #f4f4f5;
    /* Zinc 100 */
    --secondary-foreground: #18181b;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    /* Zinc 500 */
    --accent: #f4f4f5;
    --accent-foreground: #18181b;
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --border: #e4e4e7;
    /* Zinc 200 */
    --input: #e4e4e7;
    --ring: #18181b;
    --radius: 0.5rem;
  }

  .dark {
    --background: #09090b;
    /* Zinc 950 - Premium Dark (Not #000) */
    --foreground: #fafafa;
    /* Zinc 50 */
    --card: #18181b;
    /* Zinc 900 - Slightly elevated */
    --card-foreground: #fafafa;
    --popover: #18181b;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #18181b;
    --secondary: #27272a;
    /* Zinc 800 */
    --secondary-foreground: #fafafa;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    /* Zinc 400 */
    --accent: #27272a;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --border: #27272a;
    /* Zinc 800 - Subtle */
    --input: #27272a;
    --ring: #d4d4d8;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}